body {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

#profilePic {
    width: 90%;
    height: auto;
    border-radius: 5px;
}

ul {
    list-style-type: none;
}

header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

h2 {
    margin: 0;
}

#mainContainer {
    flex: 2;
}

#Education {

}

#educationSubContainer{
    display: flex;
}

.qualificationName {
    flex: 1;
}

.qualificationDescription {
    flex: 2;
}

#Skills {
    display: flex;
    justify-content: flex-start;
}
