body {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

h1, h2, h3 {
    color: #FF4698;
}

#profilePic {
    width: 90%;
    height: auto;
    border-radius: 5px;
}

#basicInfo {
    list-style-type: none;
}

header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: flex-start;
    position: sticky;
    top:15px;
}

h2 {
    margin: 0;
}

#mainContainer {
    flex: 2;
}

#Education {
    margin-bottom: 50px;
}

#educationSubContainer{
    display: flex;
}

.qualificationName {
    flex: 1;
}

.qualificationDescription {
    flex: 2;
}

#Skills {
    display: flex;
    justify-content: space-around;
}

#skiillsList {
    list-style-type: none;
}
